body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.password-generator {
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #444;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.password-generator h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.password-generator label {
    display: block;
    margin:9px 70px 3px;
    font-weight: bold;
    text-align: center;
}

.password-generator input[type="number"] {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    width: 60px; /* Different width for length input */
}

.password-generator input[type="text"] {
    padding: 10px; /* Different padding for password display */
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    width: 80%; /* Full width for password display */
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.password-generator button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Dark mode */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .password-generator {
    background-color: #1e1e1e;
    border: 2px solid #444;
}

.dark-mode label {
    color: #bbb;
}

.dark-mode input[type="number"],
.dark-mode input[type="text"] {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
}

/* Light mode */
.light-mode {
    background-color: #f4f4f4;
    color: #000;
}

.light-mode .password-generator {
    background-color: #ffffff;
    border: 2px solid #ddd;
}

.light-mode label {
    color: #333;
}

.light-mode input[type="number"],
.light-mode input[type="text"] {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
}

/* Theme toggle button */
#theme-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

#theme-toggle:hover {
    background-color: #0056b3;
}
